<footer>
    <hr>
    <img src="assets/img/logomovie.png">
    <div class="social"> 
        <a href="https://www.linkedin.com/in/zamarareyes/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.linkedin.com/in/zamarareyes/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/zamarareyes/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <p>© Copyright 2017. All rights reserved. Page designed and developed by <a href="http://zamarareyes.es/"><p>Zamara Reyes</p></a>.</p>
</footer>