<header class="cabecera" [style.background-image]="'url(' + photo + ')'">
    <div id="grad1"></div>
</header>
<section>
	<div class="resultados">
		<h1>{{genreName}}</h1>
	</div>
	<hr>
	<div class="lista">
        <a *ngFor="let film of films" [routerLink]="['/detail', film.imdb_id]" class="peli">
            <div class="nota">
                <div class="circulo">
                    <p>{{film.vote_average}}</p>
                </div>
                <img src="{{film.poster_path}}">
            </div>
            <div class="titulo">
                <p>{{film.title}}</p>
                <div class="generos">
                    <p>{{film.genres}}</p>
                </div>
            </div>
        </a>
    </div>
</section>
